.employee-search-result {
  max-width: 100%;
}
.search-query-and-refresh {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 30px;
}

.employee-search-result::-webkit-scrollbar {
  border-left: 0;
}

.employee-search-result .table th {
  min-width: 100px;
}

.employee-search-result .table th.employee-name,
.employee-search-result .table th.employee-status,
.employee-search-result .table th.employee-address {
  min-width: 125px;
}
