.home-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.home-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home-link {
    padding: 24px 60px;
    border: 1px solid rgba(193, 193, 193, 0.4);
    transition: all 0.5s;
    border-radius: 12px;
    font-size: 20px;
    line-height: 20px;
    color: inherit;
    background-color: #fff;
}

.home-link:hover {
    box-shadow: 0 4px 16px 0 rgba(193, 193, 193, 0.4);
    border: 1px solid transparent;
    text-decoration: none;
}